# Gitignore file
# Remove backup files
*#
*.
*.elc
*.eln
*~
.#*
.lsp-session*
.

# Emacs packages
var/

#  Emacs tmp files & Misc
!/tree-sitter/bin/
.authinfo*
.dap-breakpoints
.org-generic-id-locations
.org-id-locations
/.DS_Store
/.cache/
/.emacs.desktop
/.emacs.desktop.lock
/.extension/
/.mc-lists.el
/.python-environments/
/.watsonresults
/ac-comphist.dat
/auto-save-list
/bbdb
/bookmarks
/dirvish
/eln-cache*
/elpa
/emms
/erc
/eshell
/eshell/history
/eshell/lastdir
/games/
/ido.last
/image-dired
/network-security.data
/newsticker/feeds/
/persist/
/persp-confs
/places
/projectile-bookmarks.eld
/projectile.cache
/projects
/recentf
/request/
/secrets.el
/snippets/
/tramp
/transient
/transient/
/tree-sitter/
/tree-sitter/bin/*
/url/
/codeium/
async-bytecomp.log
custom-vars.el
eww-bookmarks
gnus.el
gnus/
history
oauth2-auto.plist
private.el
project-window-list
viper
yeetube